<div class="container">
    {{#each teams}}
    <div class="puppy-list">
        <h2>{{teamName}}</h2>
        <img class="img-circle" src="/images/{{teamImageUrl}}" alt="">
        <ul class="people-name-list">
            {{#each names}}
            <li class="people-name-list-item">
                <img class="img-circle-people" src="{{image_url}}" alt="">
                <div class="people-name">{{name}}</div>
            </li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>