<div class="container">
  {{#each themes}}
  <div class="puppy-list">
    <div onclick="playAudio({{id}})" id="clickMe"></div><img class="img-circle" src="{{themeImage}}" alt="{{name}}"></a>
  </div>
  {{/each}}
</div>

