<a href="#">Home</a>
<a href="#">Edit Teams</a>
<div class="container">
  {{#each themes}}
  <div class="puppy-list">
    <a href="/team-selector/{{id}}">
      <img class="img-circle" src="/images/{{image_url}}" alt="{{name}}">
    </a>
    <div>{{name}}</div>
  </div>
  {{/each}}
</div>