<div class="admin-container">
    <section class="people-container">
        <h3>
            People <a>➕</a>
        </h3>
        <div >
            {{#each people}}
            <div class="person-container">
                <div>
                    🗑️
                </div>
                <div>
                    {{name}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
    <section class="themes-container">
        <h3>
            Select <a>➕</a>
        </h3>
        <div >
            {{#each themes}}
            <div class="theme-container">
                <div>
                    🗑️
                </div>
                <div>
                    {{name}}
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</div>