<section>
    <h3>
        People
    </h3>
    <a href="#">
        <h1>Edit</h1>
    </a>
    <a href="#">
        <h1>Add</h1>
    </a>
</section>
<section>
    <h3>
        Themes
    </h3>
    <a href="#">
        <h1>Edit</h1>
    </a>
    <a href="#">
        <h1>Add</h1>
    </a>
</section>